

    <h1 id ="digital-clock">
    </h1>
  


<form action="/submit" method="POST">
  <button style="font-size:24px">yes i do <i class="fa fa-heart" id="Startbutton"></i></button>
</form>
<script src="time.js"></script>
<!-- Step 3 Add Footer -->
<%- include("partials/footer.ejs") %>
